

/* global font */

*{
    font-family: 'Roboto', sans-serif;

}

/* reset default margins */

body{
    margin: 0;
}

/* layout for header and hero sections */

.hero , .header{
    background-color: #1f2937;
    color: #ffffff;
    padding: 20px;
    display: flex;
    

}

/* header layout */

.header {
    
    justify-content: space-between;
    align-items: center; 
}

/* right side of header */

.header_right{
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 10px;
}


/* hero section layout */

.hero{
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    font-size: 25px;
    
    
}

/* hero title styling */

.hero h1{
    text-shadow:5px 5px 1px  #161f2b ;
}

/* hero text  */

.hero-content{
    max-width: 600px;
    flex-direction: column;
    
}

/* hero image styling */

.hero img{
    height: auto;
    width: 600px; 
    margin-right: 50px;
    border-radius: 18px;
    box-shadow: 5px 5px 1px  #161f2b ;

}

/* memes section layout */

.memes{
    display:flex;
    flex-direction: row;
    justify-content: center;
    gap: 35px;

}

/* memes image styling */

.memes img{
    width: 200px ;
    height: auto;
    border-radius: 10px;
    border: #3882f6 solid 5px;
}

/* hero section layout */

.quote{
    background-color: #e5e7eb;
    padding: 30px;
    font-size: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* button styles */

button{
    background-color: #3882f6;
    border: none;
    border-radius: 18px ;
    color:white;
    padding: 10px;
    font-size: 25px;
    width: 200px;
    box-shadow: 5px 5px 1px  #161f2b 
}

/* link styles */

a{
    text-decoration: none;
    color: #ffffff;
}

/* h2 styles */

h2{
    text-align: center;
    color: #161f2b;
    font-size: 40px;
}


.cta{
    display: flex;
    justify-content: center;
    gap: 70px;
    background-color: #3882f6;
    color: #ffffff;
    border-radius: 10px;
    margin: 70px;
    padding: 40px;
}

.cta button{
    background-color: #3882f6;
    border: #ffffff solid 2px;
    color:white;
    padding: 0px;
    font-size: 15px;
    width: 100px;
    box-shadow:none
}
 

.footer{
    background-color: #1f2937;
    padding: 20px;
    display: flex;
    justify-content: center;
    color: white;
    
}